/* Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    background-color: #3b2d3d;
    color: #FFFFFF;
}
.logo {
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
}
.title {
    flex-grow: 1;
    text-align: center;
    font-size: 40px;
}
.author {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-size: 18px;
    padding-right: 10px;
}

.content {
    padding-bottom: 10px;
    margin: 0px;
}

/* Headings */
h2 {
    text-align: center;
    color: #3b2d3d;
    font-size: 28px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin: 0px;
}
hr {
    border: none;
    height: 5px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(59, 45, 61, 0.75), rgba(255, 255, 255, 0));
}

/* Table of Contents lists */
nav {
    font-size: 18px;
    padding-left: 20px;
    margin: 0px;
}
nav ul {
    padding-left: 10px;
    margin: 0px;
}
nav ul li ul {
    list-style-type: circle;
    padding-left: 25px;
}
nav ul li ul ul {
    list-style-type: square;
    padding-left: 30px;
}

/* Links */
a {
    text-decoration: none;
    color: #833583;
    font-weight: bold;
}
a:hover {
    color: #2c0131;
}

/* Text */
p {
    text-indent: 25px;
    font-size: 18px;
    padding-left: 10px;
    margin: 0px;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #3b2d3d;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}
